{% extends "base.html" %}

{% block title %}Register - News App{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center mt-5">
    <h1>Register</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="/register">
        <label for="username" class="form-label">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required><br>
        <label for="password" class="form-label">Password:</label>
        <input type="password" id="password" name="password" class="form-control" required><br>
        <button type="submit" class="btn btn-info mt-3">Register</button>
    </form>
    <p class="mt-2">Already have an account? <a href="/login">Login here</a></p>
</div>
{% endblock %}